/* Colors: */
$main-dark: #004380;
$main-dark2: #002240;
$main-mid: #0F5499;
$main-mid2: #0056A3;
$main-mid3: #007AF2;
$main-mid4: #003566;
$main-light: #408fcf;
$secondary-color1: #1BA300;
$secondary-color2: #B10B22;
$secondary-color3: #FBBB0E;
$white-background: #FFFFFF;
$highlighted: #4D4D4D;
$line: #DAE6F2;
$form-background: #EBF1F7;

/* Font/text values */
$mulish: 'Mulish', sans-serif;
$noto-sans: 'Noto Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$size-small-text: 16px;
$size-text: 18px;
$size-secondary-header: 36px;
$size-main-header: 42px;
